@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
/* banner part style start */
.banner-container{
    width:1320px;
    
    border-radius:11px;
    min-height: 600px;;
    margin:0 auto;
    margin-top:50px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-sub-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align:center;

}
.banner-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align:center;

}
.banner-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:600px;
}
/* discount part style start */
.discount-title{
    font-weight:700;
    font-size:80px;
    color:rgb(255, 0, 0);
    margin-top:100px;
}
.discount-description{
    font-weight:500;
    font-size:20px;
    color:rgb(255, 0, 0);
    margin-top:40px;
}
.discount-sub-title{
    font-weight:700;
    font-size:35px;
    color:rgb(7, 2, 17);
    margin-top:13px;
}
.discount-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
.happy-image{
    width:650px;
    margin-top:40px;
}
/*night party style start */
.night-party{
    width:1082px;
    height:480px;
    
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:12px;
    display:flex;
    
    /* justify-content: center;
    align-items: center;
    margin:0 auto; */
    


}
.left-content{
    width:50%;
    height:480px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    
    
    
    
}
.left-title{
    font-weight:900;
    font-size:50px;
    color:rgb(255, 255, 255);
    
}
/* shared by common */
.common-description{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 20px;
/* shared end */

}
.left-click{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
padding-right:430px;

}
.right-content{
    
    
}
.right-image{
    width:280px;
    height: 350px;
    
    margin:55px 110px 55px 40px;
}
/* location part style  */
.location-container{
    width:1082px;
    height:430px;
    border-radius:12px;
    background-color:rgb(209, 217, 215);
    
    margin-top:110px;
    margin:0 auto;
    margin-bottom:110px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.location{
    font-size: 30px;
    font-weight: 600;
    
    line-height:50px;
    
}
.btn{
    
    color: rgb(255, 0, 0);
}
.btn-primary{
    font-size:20px;
    font-weight:700;
    background-color: rgb(255, 0, 0);
    padding:11px 22px 11px 22px;
    color:white;
    margin-top:50px;
    margin-left:200px;
    border:none;
}
.location-content h3{
    text-align: center;
}
/* commoing party */
.offer-title{
    color: rgb(255, 0, 0);
    
    font-size: 20px;
    font-weight: 500;
}
.offer-sub-title{
    color: rgb(7, 2, 17);
    font-size: 40px;
    font-weight: 900;
}
.offer-description{
    color: rgba(7, 2, 17, 0.6);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;

}
.year{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}
.offer{
    width:1082px;
    height:430px;
    margin:0 auto;
    display: flex;
    margin-bottom:100px;


}
.offer-content{
    width:380px;
    height:430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.goal-pic{
    width:380px;
    height:430px;
    
    
}
.goal-pic img{
    height:100%;
    width:100%;
}
.lost-year{
    width:322px;
    height:430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
/* holiday style part */
.holiday-content{
    text-align:center;
    
}
.holiday-title{
    color: rgb(7, 2, 17);
    font-size: 18px;
    font-weight: 500;

}
.holiday-sub-title{
    font-size: 40px;
    font-weight: 900;

}
.holiday-description{
    color: rgba(7, 2, 17, 0.6);
    font-size: 17px;
    font-weight: 500;

}
.red{
 color: rgb(255, 0, 0);
}
.holiday{
    width:1082px;
    height:670px;
    
    margin:0 auto;
    margin-bottom:100px;
    position: relative;
    

}
.solid-color{
    width:1082px;
    height:150px;
    background-color: #FF0000;
    position: absolute;
    top:79%;
    
}
.light-pic{
    width:550px;
    height:500px;
    position:relative;
}
.light-pic img{
    width:100%;
    height:100%;
}
.discount-image{
    position: absolute;
    bottom:30%;
    left:60%;
}
/* marketplace style start */
.marketplace{
    width:1082px;
    height:750px;
    margin-top:100px;
    margin:0 auto;
    
    display:grid;
    grid-template-columns: repeat(3,1fr);

}
.picture{
    width:360px;
    height:375px;
}
.picture img{
    width:100%;
    height:100%;
}
/* subscribe part style */
.subscribe-father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe-mother{
    text-align: center;
    padding:30px;
}
.subscribe{
    width:1082px;
    height:550px;
    
    margin:0 auto;
    margin-top:100px;
    background-color:rgb(221, 226, 224);
    
}
.subscribe-title{
    font-weight:800;
    font-size:40px;
}
.subscribe-description{
    font-size:17px;
    color:rgb(143, 125, 125);

}
.text-mail{
    width:20%;
    padding:7px 8px 7px 8px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border:none;
}
    
.sub-btn{
    padding:7px 8px 7px 8px;
    background-color:#FF0000;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border:none;
    
    
    
}
.text{
    border:none;
    text-align: center;
    
    
    
}
/* footer part */
.footer{
    width:100%;
    height:600px;
    margin-top:150px;
    background-color:rgb(7, 2, 17);
}
.footer-title{
    color: rgb(255, 255, 255);

    font-size: 20px;
    font-weight: 500;
    display:flex;
    justify-content:space-around;
    
    

}
.title{
    padding:100px;
}
.hori{
    
    opacity:0.07
}
.icon{
    margin-top:60px;
    text-align:center;
}
.hori2{
    margin-top:60px;
    opacity:0.07
    
}
.last{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    display:flex;
    justify-content: space-around;
    margin-top:60px;


}

    
