@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
/* banner part style start */
.banner-container{
    width:1320px;
    
    border-radius:11px;
    min-height: 600px;;
    margin:0 auto;
    margin-top:50px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-sub-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align:center;

}
.banner-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align:center;

}
.banner-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:600px;
}
/* discount part style start */
.discount-title{
    font-weight:700;
    font-size:80px;
    color:rgb(255, 0, 0);
    margin-top:100px;
}
.discount-description{
    font-weight:500;
    font-size:20px;
    color:rgb(255, 0, 0);
    margin-top:40px;
}
.discount-sub-title{
    font-weight:700;
    font-size:35px;
    color:rgb(7, 2, 17);
    margin-top:13px;
}
.discount-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
.happy-image{
    width:650px;
    margin-top:40px;
}
/*night party style start */
.night-party{
    width:1082px;
    height:480px;
    border:2px solid red;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:12px;
    display:flex;
    
    /* justify-content: center;
    align-items: center;
    margin:0 auto; */
    


}
.left-content{
    width:50%;
    height:480px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    
    
    
    
}
.left-title{
    font-weight:900;
    font-size:50px;
    color:rgb(255, 255, 255);
    
}
/* shared by common */
.common-description{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 20px;
/* shared end */

}
.left-click{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
padding-right:430px;

}
.right-content{
    
    
}
.right-image{
    width:280px;
    height: 350px;
    
    margin:55px 110px 55px 40px;
}
    
